.about {
  text-align: justify;
}

.about .content {
  width: 50%;
  color: #8792b0;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 7vh;
}

.about .skills {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills img {
  width: 50px;
  margin: 10px;
}

.about > div {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.about > div.visible {
  animation: slideInFromRight 0.5s ease forwards;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
