.about {
  text-align: justify;
}

.about .content {
  width: 50%;
  color: #8792b0;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 5vh;
}

.about .skills {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills img {
  width: 50px;
  margin: 10px;
}

.about > div {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.about > div.visible {
  animation: slideInFromRight 0.5s ease forwards;
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .about .content,
  .about .skills {
    width: 70%;
    font-size: 15px;
  line-height: 20px;
  }

  .skills img {
    width: 35px;
  }
}

@media screen and (max-width: 500px) {
  .about .content,
  .about .skills {
    width: 90%;
    font-size: 13px;
  line-height: 17px;
  }

  .skills img {
    width: 25px;
  }
}
